<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/recentOrders/">
        <i class="bi bi-bookmark-check-fill"></i>
        <span>Recent Orders</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/vehicleCategory/">
        <i class="bi bi-file-earmark-plus"></i>
        <span>Add Vehicle Category</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/addVehicle/">
        <i class="bi bi-car-front"></i>
        <span>Add vehicles</span>
      </a>
    </li><!-- End Recent Orders Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/allVehicle/">
        <i class="bi bi-car-front"></i>
        <span>All Vehicles</span>
      </a>
    </li><!-- End Recent Orders Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/addDriver/">
        <i class="bi bi-person"></i>
        <span>Add Drivers</span>
      </a>
    </li><!-- End Recent Orders Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/allDriver/">
        <i class="bi bi-person"></i>
        <span>All the Drivers</span>
      </a>
    </li><!-- End Recent Orders Nav -->



    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/adminLogin">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </a>
    </li><!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/errorPage">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li><!-- End Error 404 Page Nav -->

  </ul>

</aside><!-- End Sidebar-->